body {
    background-color: rgb(192, 238, 238);
    display: flex;
    justify-content: center;
    
}
.main {
    background-color: rgb(16, 53, 53);
    height: 500px;
    width: 600px;
    text-align: center;
    color: black;
}

form input {
    margin: 5px;
    width: 70%;
    height: 20px;
}
button {
    margin-top: 30px;
    font-size: 20px;
}